
@mixin section($bgColor){
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: $bgColor;
    // @if ($bgColor == none){
    //     background: $bgColor;
    // }

}
@mixin circleMe($cicleSize,$borderSize){
    height: $cicleSize;
    width: $cicleSize;
    border-radius: 50%;
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items:center;
      background-color: #fff;
      overflow: hidden;
      border-width:$borderSize ;
      border-style: solid;
      border-color: $primaryColor;
}